@media (max-width: 117.5em) {
  .about-textline {
    margin: 0 5% 0 15%;
    width: 60%;
  }
}

@media (max-width: 104em) {
  .image-box {
    height: 43rem;
  }
}

@media (max-width: 96.375em) {
  .about-textline {
    width: 65%;
  }
}

@media (max-width: 90em) {
  .about-textline {
    width: 70%;
  }
  .image-box {
    height: 40rem;
  }
  .logo {
    width: 40%;
  }
}

@media (max-width: 85.625em) {
  .image-box {
    height: 35rem;
  }
  .about-section {
    height: 65rem;
  }
  .about-textline {
    width: 72%;
  }
  .about-titleline {
    font-size: 3.8rem;
  }
  .phone-link,
  .email-link {
    font-size: 3.8rem;
  }
  .phone-icons,
  .email-icons {
    font-size: 2.4rem;
  }
  .stuff-title-main {
    font-size: 3.5rem;
    top: -55%;
  }
}

@media (max-width: 81.125em) {
  .about-textline {
    width: 75%;
  }
  .footer {
    height: 22rem;
    margin-top: 13rem;
  }
}

@media (max-width: 78.25em) {
  .logo--footer {
    height: 12rem;
  }
  .title-two-lines {
    margin-top: 7rem;
  }
}

@media (max-width: 74.125em) {
  .about-titleline {
    font-size: 3.2rem;
  }
  .image-box {
    height: 30rem;
  }
  .phone-link,
  .email-link {
    font-size: 3.2rem;
  }
  .phone-icons,
  .email-icons {
    font-size: 2rem;
  }
  .about-text,
  .phone-text,
  .email-text {
    font-size: 1.6rem;
  }
  .stuff-title-main {
    font-size: 3rem;
    top: -48%;
  }
  .logo--footer {
    height: 11rem;
    width: 33rem;
  }
  .footer-text {
    font-size: 1.2rem;
    margin-bottom: 2.5%;
  }
}

@media (max-width: 69.625em) {
  .nav-list-link:link,
  .nav-list-link:visited {
    font-size: 1.4rem;
  }
  .stuff-box {
    grid-template-columns: 33fr 33fr 33fr;
    row-gap: 2.4rem;
    column-gap: 1.5rem;
  }
  .footer {
    height: 18rem;
  }
}

@media (max-width: 65.375em) {
  .header {
    height: 5rem;
    gap: 7rem;
  }
  .about-logo {
    width: 28rem;
    top: 13.6rem;
    height: 9rem;
  }
  .about-section {
    height: 60rem;
  }
  .about-text,
  .phone-text,
  .email-text {
    font-size: 1.2rem;
  }
  .image-box {
    height: 26rem;
  }
  .about-titleline,
  .phone-link,
  .email-link {
    font-size: 2.8rem;
  }
  .phone-icons,
  .email-icons {
    font-size: 1.6rem;
  }
  .stuff-title-main {
    font-size: 2.6rem;
    top: -40%;
  }
  .about-section {
    height: 55rem;
  }
  .logo--footer {
    height: 10.5rem;
  }
}

@media (max-width: 63.375em) {
  .header {
    gap: 5rem;
  }
  .nav-list {
    gap: 2rem;
  }
  .logo--footer {
    width: 53%;
  }
}

@media (max-width: 58rem) {
  .nav-list-link.nav-button:link,
  .nav-list-link.nav-button:visited {
    padding: 0.7rem;
  }
  .header {
    gap: 3.5rem;
  }
  .nav-list {
    gap: 1.5rem;
  }
  .image-box {
    height: 23rem;
  }
  .about-titleline,
  .phone-link,
  .email-link {
    font-size: 2.4rem;
  }
  .stuff-title-main {
    font-size: 2.4rem;
    top: -35%;
  }
  .stuff-box {
    width: 45%;
    padding: 0;
  }
  .logo--footer {
    height: 10rem;
  }
}

@media (max-width: 53.25em) {
  .nav-list-link:link,
  .nav-list-link:visited {
    font-size: 1.2rem;
  }
  .about-logo {
    width: 27rem;
    top: 9.5rem;
    height: 7rem;
  }
  .logo {
    width: 45%;
  }
  .about-section {
    height: 40rem;
  }
  .about-box-line {
    border: 1px solid #fff;
  }
  .about-line {
    border: 1px solid #a09d7d;
  }
  .stuff-title-main {
    font-size: 2rem;
    top: -30%;
  }
  .footer-line {
    border: 1px solid #fff;
  }
  .logo--footer {
    height: 9.8rem;
    width: 28rem;
  }
  .person-title {
    font-size: 2rem;
  }
  .person-list-all {
    font-size: 1.2rem;
    line-height: 130%;
  }
}

@media (max-width: 50.375em) {
  .logo {
    width: 50%;
  }
  .header {
    gap: 2rem;
  }
  .about-titleline,
  .phone-link,
  .email-link {
    font-size: 2rem;
  }
  .about-section {
    height: 35rem;
  }
  .logo--footer {
    width: 26rem;
    height: 9.4rem;
  }
  .image-box {
    height: 20rem;
  }
}

@media (max-width: 47.375em) {
  .nav-list {
    gap: 1.1rem;
  }
  .about-logo {
    width: 25rem;
}
  .stuff-box {
    margin-left: 10%;
    margin-right: 0;
  }
  .stuff-box {
    grid-template-columns: 50fr 50fr;
    margin-left: 20%;
  }
}

@media (max-width: 44em) {
  .logo-link {
    width: 30%;
  }
  .nav {
  width: 70%;
  }
  .logo {
    width: 70%;
  }
  .about-text,
  .phone-text,
  .email-text {
    font-size: 1rem;
  }
  .phone-icons,
  .email-icons {
    font-size: 1.4rem;
  }
  .about-titleline,
  .phone-link,
  .email-link {
    font-size: 1.8rem;
  }
  .image-box {
    height: 18rem;
  }
  .stuff-line-one,
  .stuff-line-two {
    border: 1px solid #a09d7d;
  }
  .stuff-title-main {
    font-size: 1.8rem;
  }
  .logo--footer {
    width: 24rem;
    height: 8.6rem;
  }
  .persons {
    width: 18rem;
    height: 30rem;
  }
  .stuff-title {
    font-size: 1.8rem;
  }
  .stuff-info {
    font-size: 1.2rem;
    margin-left: 12%;
  }

@media (max-width: 40em) {
  .logo--footer {
    width: 22rem;
    height: 8.4rem;
  }
  .footer {
    margin-top: 9rem;
    height: 14rem;
  }
}

@media (max-width: 37.875em) {
  .nav-list-link.nav-button:link,
  .nav-list-link.nav-button:visited {
    padding: 0.4rem;
  }
  .image-box {
    height: 14rem;
  }
  .about-titleline,
  .phone-link,
  .email-link {
    font-size: 1.4rem;
  }
  .about-section {
    height: 30rem;
  }
  .stuff-title-main {
    font-size: 1.6rem;
  }
  .logo--footer {
    width: 20rem;
    height: 7rem;
  }
  .about-textline {
    width: 100%;
    margin: 0;
    padding: 2%;
  }
}

@media (max-width: 37.375em) {
  .header {
    gap: 0.8rem;
  }
  .nav-list-link.nav-button:link,
  .nav-list-link.nav-button:visited {
    padding: 0.3rem;
  }
}

@media (max-width: 36.75em) {
  .nav-list {
    gap: 0.8rem;
  }
  .about-logo {
    width: 18rem;
    height: 5rem;
    top: 7.3rem;
}
  .stuff-title-main {
    font-size: 1.4rem;
    top: -22%;
  }
  .footer-text {
    font-size: 0.8rem;
    margin-bottom: 2.9%;
  }
}

@media (max-width: 35.25em) {
  .nav-list-link:link,
  .nav-list-link:visited {
    font-size: 1rem;
  }
  .phone-mail-text {
    padding-left: 7%;
  }
  .logo--footer {
    width: 19rem;
    height: 6.8rem;
  }
}

@media (max-width: 32.375em) {
  .nav-list-link.nav-button:link,
  .nav-list-link.nav-button:visited {
    padding: 0.3rem;
  }
  .stuff-box {
    margin-left: 13%;
  }
  .footer {
    height: 10rem;
    margin-top: 7rem;
  }
  .logo--footer {
    width: 18rem;
    height: 6.5rem;
  }
  .logo {
    width: 85%;
  }
  .phone-mail-text {
    padding-left: 3%;
  }
}

@media (max-width: 25em) {
  .stuff-box {
    width: 100%;
    margin: 0;
    row-gap: 0.5rem;
    column-gap: 0;
  }
  .logo-link {
    display: none;
  }
  .header {
    gap: 0;
    padding-left: 3%;
  }
  .nav {
    width: 100%;
    text-align: center;
  }
  .image-box {
    height: 10rem;
  }
  .about-section {
    height: 20rem;
  }
  .about-titleline,
  .phone-link,
  .email-link {
    font-size: 1rem;
  }
  .about-text,
  .phone-text,
  .email-text {
    font-size: 0.6rem;
  }
  .phone-icons,
  .email-icons {
    font-size: 0.8rem;
  }
  .stuff-title-main {
    font-size: 1rem;
    top: -15%;
  }
  .footer-text {
    font-size: 0.7rem;
  }
  .logo--footer {
    width: 16rem;
    height: 5.1rem;
  }
  .title-two-lines {
    margin-top: 4rem;
  }
  .persons {
    width: 13rem;
    height: 23rem;
  }
  .person-title {
    font-size: 1.5rem;
  }
  .person-list-all {
    font-size: 0.8rem;
  }
  .stuff-title {
    font-size: 1rem;
  }
  .stuff-info {
    font-size: 0.8rem;
    margin-left: 17%;
  }
   .about-logo {
    width: 14rem;
    height: 4rem;
    top: 4.5rem;
  }
}
